body {
  background-color: #F5F5F5;
}
body, input, textarea, td {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
  color: #293c4b;
}

input, textarea {
  border: 1px solid rgba(0,50,150,.1);
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
input[type=submit], button {
  border: 1px solid rgba(0,0,150,.1);
  background-color: rgb(33,150,243);
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
}

a {
  color: #0077c7;
  text-decoration: none;
  cursor: pointer;
}

.hidden { display: none !important; }

.app {}
.app-header {
  background-color: #ff3142;
  padding: 0.5rem 1rem;
  color: white;
  display: flex;
  min-height: 2rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2)
}
.app-header-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  text-shadow: 0px 1px 2px rgba(33, 48, 60, 0.71)
}
.app-header-pin {
  background: white;
  border-radius: 100%;
  display: inline-block;
  margin-left: 0.5rem;
  width: 1.7rem;
  height: 1.7rem;
  line-height: 1.8rem;
  text-align: center;
  text-shadow: none;
  font-size: 1rem;
  box-shadow: 0px 1px 2px rgba(33, 48, 60, 0.31);
  vertical-align: text-bottom;
}

.app-header-content,
.app-body {
  max-width: 80ex;
  margin: auto;
}

.app-body {
  padding: 0em 1rem 4rem;
}


.bookmark {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 0.3rem;
  background-color: white;
  border-radius: 3px;
}
.bookmark-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookmark-header-link {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bookmark-actions { margin-right: 0.5em; }
.bookmark-actions>* { margin-left: 0.5rem; }
.bookmark-separator {
  display: block;
  border-top: 1px solid rgba(0,0,0,0.05);
  width: 100%;
  height: 0px;
}
.bookmark-header-link, .bookmark-description, .bookmark-footer {
  display: block;
  padding: 0.6rem 1rem;
  min-height: 0.6em;
}
.bookmark-description, .bookmark-footer {}
.bookmark-footer>.tag {
  margin-right: 0.5rem;
}

.info {
  font-style: italic;
  color: #ddd;
}

.tag {
  display: inline-block;
  background-color: #fff9d2;
  padding: 0.4em 0.8em;
  border-radius: 1em;
  color: rgba(0,0,0,0.6);
  cursor: pointer;
  font-size: 0.7em;
  box-shadow: inset 0 0 1px rgba(200,100,0,0.5);
}
.tag.selected {
  background-color: #adfbc3;
  color: rgba(0,0,0,0.8);
  text-shadow: 0px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 2px rgba(0, 127, 86, 0.25), inset 0 -1px 2px rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0,127,64,0.1);
  border-width: 0 1px 1px 1px;
  position: relative;
  top: -2px;
}

.unread-tags {
  margin-bottom: 1rem;
}
.unread-tags>.tag {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.stats {
  display: flex;
  font-size: 0.8em;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: baseline;
}
.stats>:first-child>* { margin-right: 0.5rem; }
.stats>:last-child>* { margin-left: 0.5rem; }

.token-form {
  text-align: center;
  max-width: 100%;
  position: relative;
  padding: 1em;
}
.token-form-input, .token-form-submit {
  padding: 0.5em 1em;
  display: inline-block;
}
.token-form-input {
  width: 70%;
  min-width: 0;
}
.token-form-loading {
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(255,255,255,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.token-form-error {
  width: 70%;
  margin: auto;
  padding: 0.6em;
  background-color: #fff1bc;
  border-radius: 3px;
  font-size: 0.8em;
  color: rgba(0,0,0,0.6);
}

.menu-bar {
  margin-bottom: 1rem;
  font-size: 0.8em;
  text-align: right;
}
.menu-bar>* {
  margin-left: 1rem;
  white-space: nowrap;
}

.unread-page-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


.emoji-icon {
  display: inline-block;
  padding: 0 0.3em;
}